  /* .ui{
      background-color: white;
      width: 290px;
      text-align: center;
      height: 1000px;  
      box-shadow: 0.5px 0.866px 2px 0px rgba(0, 0, 0, 0.15);

  }
  
  
  
  .nav-text {
    height: 60px;
    
  }
  
  .nav-text a {
    color: black;
    font-size: 18px;
    height: 73px;
    display: flex;
    border-radius: 4px;
    left: 90px;
    top: 25px;
    font-weight: 600;
    line-height: 27px;
  }
  
  .nav-text a:hover {
    background: rgba(192, 213, 214, 0.02);
    border: 1px solid rgba(55, 167, 174, 0.5);
    box-shadow: 1px 4px 8px rgba(212, 227, 228, 0.05);
    color: #37A7AE;
    
  }
  
  .nav-menu-items {
    width: 100%;
    padding: 0;
  }
  
  
  
  span {
    margin-left: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  }
   */
 
   .nav-text a {
     display: flex;
     align-items: center;
    color: #000;
    font-size: 18px;
    height: 63px;
    border-radius: 4px;
    top: 25px;
    font-weight: 600;
    line-height: 27px;
    margin: 3px;
  }
   .active :active {
     background: rgba(192, 213, 214, 0.02)  ; 
    /* border: 1px solid rgba(55, 167, 174, 0.5)  !important; */
  }
  
  

   .nav-text a:hover {
    background: rgba(192, 213, 214, 0.02);
    border: 1px solid rgba(55, 167, 174, 0.5);
    box-shadow: 1px 4px 8px rgba(212, 227, 228, 0.05);
    color: #37A7AE;
    
  }

  /* search */
/* .search {
	display: flex;
  width: 706px;
  height: 52px;
	align-items: center;
	border-radius: 10px;
	padding: 5px;
	margin-bottom: 1.5em;
  background-color: white;
  margin: 14px;
}

.search input {
	border: none;
	width: 100%;
}

.search input:focus {
	outline: none;
}

@media  (min-width: 375px )  {
  .search {
    height: 32px;
    width: 210px;
    margin: auto;
    margin-right: 6px
  }
  .search input {
    width: 200px;
  }
  
}
@media  (min-width: 820px )  {
  .search {
    height: 42px;
    width: 710px; 
    margin: auto;
     margin-right: 6px 
  }
  .search input {
    width: 200px; 
  }
  
} */