@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding:0;
}
html, body {
  height: 100vh;
  width: 100vw;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  height: 100%;
  width: 100%;
  margin: 0;
  /* overflow: hidden; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

